html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

form {
  margin-bottom: 2em;
}

.what-is-this {
  margin-top: 2em;
}



header nav {
  background-color: rgb(16, 16, 16) !important;
}

.btn-primary {
  background-color: rgb(250, 151, 12) !important;
  border: none !important;
  color: white !important;
}

form {
  margin: 0;
}